body{
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #333;
}
#cadre1{
    background-color: rgba( 170, 200, 40, 0.6);
    padding: 10px;
    margin: 20px 0px;
}
#cadre2{
    background-color: rgba(40, 170, 200, 0.6);
    padding: 10px;
    margin: 20px 0px;
}
#cadre1:hover, #cadre2:hover{
    box-shadow: 0px 0px 5px #444;
}
legend{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #444;

}
#cadre1 input{
    width: 300px;
    height: 20px;
}
#cadre2 input{
    width: 20px;
    height: 20px;
}
#cadre1 label{
    display: inline-block;
    width: 200px;
    padding: 10px 0px 15px 40px;
}
#cadre2 label{
    display: inline-block;
    width: 100px;
    padding: 5px 0px 15px 10px;
}
input [type="sumbit"]{
    float: right;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}
input [type="sumbit"]:hover{
    box-shadow: 0px 0px 4px #555;
    background-color: #e8ab2e;

}